In [ ]:
whtcount = 0
while count < 5:
  print("count:", count)
  count += 1

count: 0
count: 1
count: 2
count: 3
count: 4

In [ ]:
for i in range(10):
 if i == 5:
  break
 print(i)

0
1
2
3
4

In [ ]:
for i in range(10):
 if i == 5:
  continue
 print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
for i in range(10):
 if i == 5:
  pass
 print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for I in range(10):
 if i == 5:
   break
 print(i)

9
9
9
9
9
9
9
9
9
9

In [ ]:
number=int(input("Enter a number:"))
if number % 2 == 0:
 print

In [ ]:
a=int(input("Enter start range"))
b=int(input ("enter end range"))
sum =0
for i in range (a,b):
  sum=sum+i
  print(sum)

Enter start range1
enter end range4
1
3
6

In [ ]:
num1=float(input ("Enter first number: "))
num2=float(input("Enter second number: "))
operation=input ("Enter

In [ ]:
year=int(input("Enter a year: "))
 if(year%4 == 0 and year %100!=0) or (year%400 == 0):
  print("Leap year")
 else:
 print("Not a Leap year")

IndentationError: unexpected indent (<ipython-input-52-27470ef42109>, line 2)

In [ ]:
even_sum=0
for i in range(2,4+1):
 if i%2==0:
  even_sum=even_sum+i
print(even_sum)

IndentationError: expected an indented block after 'for' statement on line 2 (<ipython-input-68-28e3c4e76656>, line 3)

In [ ]:
def greet(name):
 print ("Hello, " + name+ "!")
greet("ADHIT")

Hello, ADHIT!

In [ ]:
greet("ADHIT")

Hello, ADHIT!

In [ ]:
def ADHIT(9071506642)
print(phone number)

SyntaxError: expected ':' (<ipython-input-72-854757b00e0b>, line 1)